/* .label-container{
	position:fixed;
  z-index:1;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
  z-index:1;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#2C74C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

.float svg{
  height: 60px;
  transition: 0.2s ease-in-out;
}

.float svg:hover{
  color: rgba(0,0,0,0.5);
} */
