h1{
    font-weight: 500;
}

.textPrice{
    font-size: 20px;
    font-weight: 700;
}

.imgStar{
    width: 120px;
    height: 50px;
}

.card-body{
    padding: 0px !important;
}

.card-footer{
    background-color: #fff;
}

.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
transition: 0.5s;
}