<main>
    <section class="produto ml-5 mr-5">
        <div class="container py-5">
            <div class="row py-5 ">
                <div id="informatica" class="col-lg-5 m-auto text-center">
                    <h1>Informática</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Iphone 13 Estelar 128gb - bra</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$5.789,00</p>
                        </s>
                        <p class="textPrice">R$5.460,00</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Tablet Samsung Galaxy A7 Lite Wi-Fi 64GB 4GB RAM SM-T220NZAUZTO</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$1.099,00</p>
                        </s>
                        <p class="textPrice">R$989,10</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Apple Watch Series 3 Pulseira Esportiva Branca</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$1.749,00</p>
                        </s>
                        <p class="textPrice">R$1.590,00</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Notebook Acer Nitro 5</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$1.099,00</p>
                        </s>
                        <p class="textPrice">R$989,10</p>
                    </div>
                </div>
            </div>

            <div class="container py-5">
                <div class="row py-5 ">
                    <div id="eletroeletronicos" class="col-lg-5 m-auto text-center">
                        <h1>Eletroeletrônicos</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Lorem ipsum</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$2.999,89</p>
                        </s>
                        <p class="textPrice">R$1.289,70</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Lorem ipsum</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$2.999,89</p>
                        </s>
                        <p class="textPrice">R$1.289,70</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Lorem ipsum</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$2.999,89</p>
                        </s>
                        <p class="textPrice">R$1.289,70</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Lorem ipsum</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$2.999,89</p>
                        </s>
                        <p class="textPrice">R$1.289,70</p>
                    </div>
                </div>
            </div>

            <div class="container py-5">
                <div class="row py-5 ">
                    <div id="games" class="col-lg-5 m-auto text-center">
                        <h1>Games</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>God of War</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$399,99</p>
                        </s>
                        <p class="textPrice">R$289,70</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Call of Duty</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$552,89</p>
                        </s>
                        <p class="textPrice">R$399,75</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>The Last of Us Part II</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$199,90</p>
                        </s>
                        <p class="textPrice">R$99,99</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Spider-Man</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$295,69</p>
                        </s>
                        <p class="textPrice">R$288.88</p>
                    </div>
                </div>
            </div>

            <div class="container py-5">
                <div class="row py-5 ">
                    <div id="ferramentas" class="col-lg-5 m-auto text-center">
                        <h1>Ferramentas</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Trena</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$99,99</p>
                        </s>
                        <p class="textPrice">R$99,99</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Martelo</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$99,99</p>
                        </s>
                        <p class="textPrice">R$99,99</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Chave de Fenda</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$99,99</p>
                        </s>
                        <p class="textPrice">R$99,99</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Alicate</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$295,69</p>
                        </s>
                        <p class="textPrice">R$288.88</p>
                    </div>
                </div>
            </div>

            <div class="container py-5">
                <div class="row py-5 ">
                    <div id="eletrodomesticos" class="col-lg-5 m-auto text-center">
                        <h1>Eletrodomésticos</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Micro-ondas</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$499,99</p>
                        </s>
                        <p class="textPrice">R$99,99</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Fogão</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$99,99</p>
                        </s>
                        <p class="textPrice">R$99,99</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Cooktop</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$99,99</p>
                        </s>
                        <p class="textPrice">R$99,99</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body">
                        <a routerlink="/produto"><img class="img-card img-fluid" src="https://i.imgur.com/OcyqaEa.png"
                                alt="not found"></a>
                    </div>

                    <div class="card-footer">
                        <h6>Liquidificador</h6>
                        <img class="imgStar" src="https://i.imgur.com/8678pqM.png" alt="">
                        <s>
                            <p>R$295,69</p>
                        </s>
                        <p class="textPrice">R$288.88</p>
                    </div>
                </div>
            </div>

            <!-- <button class="btnControl btn carousel-control-prev" type="button">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
            </button> -->
            <!-- <button class="btnControl btn carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button> -->

        </div>

    </section>

</main>