.bg-color {
    background-color: #CDCDCD;
}

.card-container {
    background: #F2F2F2;
    margin: 20px;
}

.mb-color {
    background: #F2F2F2;
    margin-bottom: 5px;
}

.img-card{
    height: 100px;
    width: 170px;
} 