#bg-full-container {
    display: flex;
    justify-content: center;
    padding: 20px 20px auto;
}

#container-a {
    display: flex;
}

#item-carrinho {
    margin: 0;
}

.bg-all-container {
    padding: auto;
}

.bg-container {
    min-width: 998px;
    padding: 20px 20px 20px;
    margin: 20px;
}

.bg-color {
    background-color: #CDCDCD;
}

.full-container-1 {
    width: 100%;
}

.a-row {
    width: 100%;
}

.mb-important {
    margin-bottom: 20px !important;
}

.fdir {
    flex-direction: column;
}

.card-container {
    background: #F2F2F2;
    margin: 20px;
}

.container-um {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.con-details {
    flex: 1;
}

.secao {
    padding: 10px 10px 10px;
}

.name-item {
    margin-bottom: 0;
    padding: 14px 18px !important;

}

.descricao {
    vertical-align: top;
    line-height: inherit;
}

.preco {
    margin-right: 0;
    float: right;
}

.text-center {
    text-align: center;
}

.right {
    float: right;
}