* {
  margin: 5;
  /* padding: 5; */
  box-sizing: border-box;
}

body {
  background:linear-gradient(to bottom right, #1330bc, #5da9ff);
  height: 100vh;
  width: 100vw;
  display: flex;

}

.card {
  background: rgb(255, 255, 255);
  max-width: 350px;
  padding: 2rem;
  box-shadow: 5px 5px 15px;
}

h1 {
  color: rgb(16, 133, 217);
}

#button {
  background: linear-gradient(to left, rgba(16, 133, 217), rgb(0, 74, 127));

transition: all 0.3s ease;
}

#buttonRed {
  background: linear-gradient(to left, rgb(255, 77, 6)rgb(0, 74, 127));

transition: all 0.3s ease;
}

.color {
  color:blue
}

.tm-logo {
  width: 193px;
  height: 72px;
}