<main>

  <section class="pesquisar">
    <div class="container">
      <div class="row"></div>
      <form class="justify-content-center justify-content-md-start mb-3 mb-md-0">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control mt-4" placeholder="Digite aqui o que procura">
          <button class="btn btn-primary ml-3 mt-4"> Buscar </button>
        </div>
      </form>

    </div>
  </section>

  <section class="produto">
    <div class="container py-5">
      <div class="row py-5 ">
        <div class="col-lg-5 m-auto text-center">
          <h1>Produtos mais vendidos</h1>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img class="img-fluid" src="https://i.imgur.com/OcyqaEa.png" alt="not found">
          </div>
        </div>
        <h6>Produto</h6>
        <p>R$359,99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img class="img-fluid" src="https://i.imgur.com/OcyqaEa.png" alt="not found">
          </div>
        </div>
        <h6>Produto</h6>
        <p>R$459,99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img class="img-fluid" src="https://i.imgur.com/OcyqaEa.png" alt="not found">
          </div>
        </div>
        <h6>Produto</h6>
        <p>R$555,99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img class="img-fluid" src="https://i.imgur.com/OcyqaEa.png" alt="not found">
          </div>
        </div>
        <h6>Produto</h6>
        <p>R$999,99</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 text-center m-auto">
        <button class="btn1">Ver mais</button>
      </div>
    </div>

  </section>

</main>