h1{
    font-weight: 500;
}

.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: #2C74C9;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover{
    background-color: #235c9d;
    transition: 0.5s;
}

.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
transition: 0.5s;
}