<div class="container-fluid">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home"
            aria-selected="true"><b>Editar usuário</b></a>
        </li>
      </ul>

      <div class="card mt-4" id="center">
        <div class="form-group col-md-6 mt-4">
          <!--campo nome-->
          <div class="mt-3">
            <label for="nome">Nome </label>
            <input class="form-control" type="text" name="nome" id="nome" [(ngModel)]="usuario.nome">
          </div>
          <!--campo email-->
          <div class="mt-3">
            <label for="email">E-mail</label>
            <input class="form-control" type="email" name="email" id="email" [(ngModel)]="usuario.usuario">
          </div>
          <!--senha-->
          <div class="mt-3">
            <label for="password">Senha</label>
            <input class="form-control" type="password" name="password" id="password" [(ngModel)]="usuario.senha">
          </div>
          <!--Lagradouro-->
          <div class="mt-3">
            <label for="rua">Rua</label>
            <input class="form-control" type="text" name="rua" id="rua" [(ngModel)]="usuario.rua">
          </div>
          <!--número-->
          <div class="mt-3">
            <label for="numero">Número</label>
            <input class="form-control" type="text" name="numero" id="numero" [(ngModel)]="usuario.numero">
          </div>
          <!--bairro-->
          <div class="mt-3">
            <label for="bairro">Bairro</label>
            <input class="form-control" type="text" name="bairro" id="bairro" [(ngModel)]="usuario.bairro">
          </div>
          <!--cep-->
          <div class="mt-3">
            <label for="cep">CEP</label>
            <input class="form-control" type="text" name="cep" id="cep" [(ngModel)]="usuario.cep">
          </div>
          <!--botões-->
          <div class="mt-5 text-center mb-4">
            <button class="btn btn-danger mr-4" routerLink='/home'>Cancelar</button>
            <button class="btn btn-info" (click)="atualizar()">Confirmar</button>
          </div>

        </div>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">⠀⠀⠀</div>
      </div>

    </div>
  </div>
</div>





