<div class="container-fluid">
  <div class="row bg-color">
    <div class="col-md-12">
      <a routerLink="/home" class="text-left text-dark">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Home
      </a>
      <h1 class="fs-54 text-center">Categorias</h1>
      <h5 class="fs-18 text-center">Veja aqui todas as categorias ou cadastre
        uma nova:</h5>

      <div class="row d-flex justify-content-center mt-4 mb-5">
        <div class="col-md-3">
          <div class="form-group">
            <input [(ngModel)]="categoria.nome" type="text" class="form-control"
              id="descricao" placeholder="Digite o nome da nova categoria">
          </div>
          <div class="d-flex justify-content-center">
            <button (click)="cadastrar()" type="button"
              class="btn btn-primary">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-center">Todos os temas</h2>
    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center">
    <div class="col-md-6">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col" class="text-right">Atualizações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of categorias">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nome}}</td>
            <td class="d-flex justify-content-end">
              <a [routerLink]="['/edit-categoria', item.id]"><i
                  class="fa fa-pencil-square text-dark"
                  aria-hidden="true"></i></a>
              <a [routerLink]="['/delete-categoria', item.id]" class="ml-4"><i class="fa fa-trash text-dark"
                  aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
